@tailwind base;
@tailwind components;
@tailwind utilities;

[dir="rtl"] { text-align: right; }

input[type="tel"], input[type="number"], input[type="email"], input[dir="ltr"] {
    direction: ltr;
    text-align: left;
}

[x-cloak] { display: none !important; }

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #c1c1c1; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #a1a1a1; }
